<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<display-name>RegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProfileServlet</servlet-name>
  	<display-name>ViewProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProfileServlet</servlet-name>
  	<display-name>EditProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.EditProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewAllProfileServlet</servlet-name>
  	<display-name>ViewAllProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.ViewAllProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProfileServlet</servlet-name>
  	<display-name>DeleteProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.DeleteProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchProfileServlet</servlet-name>
  	<display-name>SearchProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.SearchProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutProfileServlet</servlet-name>
  	<display-name>LogoutProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.LogoutProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProfileServlet1</servlet-name>
  	<display-name>EditProfileServlet1</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.EditProfileServlet1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailValidatorServlet</servlet-name>
  	<display-name>EmailValidatorServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.EmailValidatorServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadCountryServlet</servlet-name>
  	<display-name>LoadCountryServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.LoadCountryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadStateServlet</servlet-name>
  	<display-name>LoadStateServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.LoadStateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadCaptchaServlet</servlet-name>
  	<display-name>LoadCaptchaServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.LoadCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProfileServlet</servlet-name>
  	<url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProfileServlet</servlet-name>
  	<url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllProfileServlet</servlet-name>
  	<url-pattern>/ViewAllProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProfileServlet</servlet-name>
  	<url-pattern>/DeleteProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchProfileServlet</servlet-name>
  	<url-pattern>/SearchProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutProfileServlet</servlet-name>
  	<url-pattern>/LogoutProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProfileServlet1</servlet-name>
  	<url-pattern>/EditProfileServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailValidatorServlet</servlet-name>
  	<url-pattern>/EmailValidatorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadCountryServlet</servlet-name>
  	<url-pattern>/LoadCountryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadStateServlet</servlet-name>
  	<url-pattern>/LoadStateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadCaptchaServlet</servlet-name>
  	<url-pattern>/LoadCaptchaServlet</url-pattern>
  </servlet-mapping>
</web-app>
